



.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

}



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} 


#flower-list{
  list-style-type:disc;
  
}
#plant-lover-des li{
  margin-top: 12px;
}


#badge{
  margin-left: 420px;
  margin-top: -90px;
  
}

.add-to-card:focus{
border: 2px solid black;
}



.deals-card-1{
  background: url('../assets/deal-bloom.png'), rgba(0, 0, 0, 0.522);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.deals-card-2{
  background: url('../assets/deal-ana.png'),rgba(0, 0, 0, 0.511);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  
}
.deals-card-3{
  background: url('../assets/deal-zabo.png'),rgba(0, 0, 0, 0.492);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

.input-field{
  background: url('../assets/news-letter-bg.png'),rgba(0, 0, 0, 0.245);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}