



.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

}



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} 


#flower-list{
  list-style-type:disc;
  
}
#plant-lover-des li{
  margin-top: 12px;
}


#badge{
  margin-left: 420px;
  margin-top: -90px;
  
}

.add-to-card:focus{
border: 2px solid black;
}


.deals-card-1{
  background-image: url('../assets/deal-bloom.png');
  background-repeat: no-repeat;
}
.deals-card-2{
  background-image: url('../assets/deal-ana.png');
  background-repeat: no-repeat;
  
  
}
.deals-card-3{
  background-image: url('../assets/deal-zabo.png');
  background-repeat: no-repeat;
}

.input-field{
  background-image: url('../assets/news-letter-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}