



.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

}



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} 


#flower-list{
  list-style-type:disc;
}

#badge{
  margin-left: 420px;
  margin-top: -90px;
  
}
